<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>Johanna &amp; Ralph</title>
  <meta name="language" content="de-de" />
  <link rel="stylesheet" href="stylesheets/960.css"/>
  <link rel="stylesheet" href="stylesheets/slides.css"/>
  <link rel="stylesheet" href="stylesheets/style.css"/>
  <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAKTE15dBwwD7nMZ8rIJbG5RQJkOQVuGdRE7-tARxm497--yswwxQtburFZIgWI3Azc6wxBrm3y857Sw"></script>
  <script type="text/javascript">
    google.load("jquery", "1.5.2");
  </script>
  <script src="javascripts/slides.min.jquery.js" type="text/javascript"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22824218-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div id="header" class="container_12">
    <h1 class="grid_12">Johanna &amp; Ralph</h1>
  </div>
  <div class="clear"></div>
  <div id="content" class="container_12">

    <ul id="navigation">
      <% Text.all.each do |text| -%>
        <li><a href="#<%= text.slug %>" onclick="javascript:toggleContent(this)"><%= text.title %></a></li>
      <% end -%>
      <li><a href="#save-the-date" onclick="javascript:toggleContent(this)">Making of Save the Date</a></li>
    </ul>
    <div class="clear"></div>

    <% Text.all.each do |text| -%>
      <div class="content <%= text.slug %> <%= 'hidden' unless text.slug == 'start' %>">
      <h2><%= text.title %></h2>
      <%= RedCloth.new(text.content).to_html %>
      </div>
    <% end -%>

    <div class="save-the-date content hidden">
      <h2>Making of Save the Date</h2>
      <div id="save_the_date">
        <div id="slides">
          <div class="slides_container">
            <% (1..11).to_a.each do |i| -%>
              <img src="images/save_the_date/<%= sprintf("%02d", i) %>.jpg" alt="Save the date"/>
            <% end-%>
          </div>
          <a href="#" class="prev"><img src="images/slides/arrow-prev.png" width="24" height="43" alt="Arrow Prev"/></a>
          <a href="#" class="next"><img src="images/slides/arrow-next.png" width="24" height="43" alt="Arrow Next"/></a>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="container_12">
    <p>
      Johanna Dannehl &amp; Ralph von der Heyden • Desenißstr. 36 •
      22083 Hamburg • 040 87873778 • ralph at rvdh.de • johannadannehl
      at googlemail.com
    </p>
  </div>
  <script src="javascripts/application.js" type="text/javascript"></script>
</body>
</html>
